body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(143, 108, 199);
    padding: 10px 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    text-align: center;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    padding: 10px 20px; /* Adjusted padding */
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-left: 10px;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pcontainer {
    max-width: 800px;
    margin: 100px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 50%;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

.buttons button {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

form {
    padding: 0 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    margin-left: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Change grid-template-columns to make input fields equal width */
    gap: -20px;
    justify-items: start; /* Aligns items to the start of the grid *//
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"] {
    width: 100%; /* Equal width for all input fields */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-group {
    text-align: center;
}

.button-group button[type="submit"],
.button-group button[type="button"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-group button[type="submit"]:hover,
.button-group button[type="button"]:hover {
    background-color: #0056b3;
}